body {
    height: 100vh;
    background-image: url('img/fundo1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    background: #ffffffed;
}




.label-serv {
    width: 150px;
}